<div class="recipe-card">
   <div class="card-container-recipe">
    <img height="200" src="{{ image_url }}" alt="{{ name }}"/>  
  </div>
    <div class="card-container">
      <h2>{{ name }}</h2>
      <p>Description : {{ description }}</p>
    </div>
</div>